{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ url_for('static', filename='images/snowboard.jpeg') }})" title="Val d'Isère, France - 2020">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>My CV</h1>
                    <span class="subheading">A bit about me.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>
                Profile
            </h2>
            <div class="cv-profile text-preview">
                Current independent student, recently completed an in depth course for Python (certificate link at
                bottom) and shifting to SQL using online learning resource Udemy. Created numerous individual projects
                using: Flask frameworks and APIs, along with website design with HTML, CSS and JavaScript and deployment
                with Azure and Heroku; web-scraping; GUI apps with Tkinter; and SQLAlchemy databases for website users.
                Seeking a position encompassing Software Engineering, Software Development and back-end developer roles
                to take advantage of my strong mathematical and problem-solving skills and STEM focused education.
                Striving to strengthen coding and development knowledge, with a history of determination, perfectionism
                and an eye for detail.
                <b>Areas of Knowledge & Interests include</b>:
                <ul class="list-horizontal">
                    <li>Modelling</li>
                    <li>Problem-solving</li>
                    <li>Statistics</li>
                    <li>Mathematics</li>
                    <li>Data Analytics</li>
                    <li>Programming</li>
                    <li>Data Science</li>
                </ul>
            </div>
            <hr>
            
            <h4>
                Education
            </h4>
            <div class="text-preview">
                <b>Bachelor of Science (Hons) in Physics with Astrophysics</b> | University of Exeter, Devon, UK, 2018 -
                <em>
                    <b>Class</b>: 2:1
                </em><br>
                <hr class="dots">
                <b>A-levels</b> | Sutton Valence School, Kent, UK, 2015<br>
                <em>
                    <b>A2 level</b>:  Maths A, Physics B, Geography B; <br><b>AS level</b>:  Business Studies B
                </em><br>
                <hr class="dots">
                <b>Coding Proficiencies</b>:  Python, SQL, HTML, CSS, C, LaTeX, Octave, R
            </div>
            <hr>
            
            <h4>
                Experience Highlights
            </h4>
            <div class="text-preview">
                <!-- Lancashire -->
                <div class="watermark lancashire">
                    <b>Reserving Actuary Role</b>, <a href="https://www.lancashiregroup.com/">Lancashire Insurance & Cathedral Insurance</a>, London, UK
                    <span class="word-right col-xl-10 col-lg-6 col-md-5 col-sm-12 col-8">June 2019 - June 2022</span><br>
                    <em>Spent 3 years working in the Reserving Team following a long restructure of the Actuarial
                        department reporting to the Head of Reserving, initially as just a team of two, developing and
                        adjusting the reserving process and having a part in the process redesign. Responsibilities
                        included, running key processes for the Reserving process, being involved with regulators and
                        auditors, using a combination of <b>SQL</b>, Microsoft <b>Excel</b> & <b>Access</b>,
                        <b>Power BI</b>, and helping take on a full automation project of many of the main processes
                        using <b>ResQ</b> - a powerful modelling software, and eventually full responsibility of the
                        software for the team. Experienced the industry and an Actuary’s key role within it and the
                        increasing dependency on a strong Actuarial team, and the demands and expectations that come
                        with it.
                    </em><br>
                </div>
                <hr class="dots">
                
                <!-- AXA -->
                <div class="watermark axa">
                    <b>Student Internship</b>, <a href="https://www.axa-im.co.uk/">AXA, Rosenberg Investment Management</a>, London, UK,
                    <span class="word-right col-xl-12 col-lg-6 col-md-4 col-sm-4 col-12">2017</span><br>
                    <em>Shadowed Investment Team as they educated clients on financial problem-solving, statistical process
                        control, data analytics, financial calculations, reporting, price forwards curves (PFC),
                        and regulatory compliance. Collaborated with data scientists and developers to learn about
                        systematic equity trading platforms and trading systems based on machine learning, chart patterns,
                        risks management, and portfolio management.
                    </em><br>
                </div>
                <hr class="dots">
                
                <!-- Lancashire (summer role) -->
                <div class="watermark lancashire">
                    <b>Student Internship</b>, <a href="https://www.lancashiregroup.com/">Lancashire Insurance & Cathedral Insurance</a>, London, UK,
                    <span class="word-right col-xl-6 col-lg-6 col-md-5 col-sm-4 col-2">2016</span><br>
                    <em>Studied insurance industry under guidance of Group Actuary and Chief Underwriter Cathedral. Attended
                        training sessions in each department and specialist underwriting classes in aviation and terrorism.
                        Observed Brokers as they interacted with clients at Lloyd’s booths. Gained interest in the actuary role.
                    </em><br>
                </div>
                <hr class="dots">
                
                <!-- Aquis -->
                <div class="watermark aquis">
                    <b>Student Internship</b>, <a href="https://www.aquis.eu/">Aquis Exch. Share Trading</a>, London, UK,
                    <span class="word-right col-xl-2 col-lg-12 col-md-12 col-sm-6 col-2">2015</span><br>
                    <em>Gained knowledge on start-up technology companies and their role as important intermediaries in
                        financial markets. Grew understanding of how small, growing businesses are managed. Mentored by
                        Chief Algorithm Writer and expanded Operations Department knowledge.
                    </em><br>
                </div>
                
            </div>
            <hr>
            
            <h4>
                Professional Involvement
            </h4>
            <div class="text-preview">
                <!-- Snowboarding Instructor Course -->
                <div class="watermark casi">
                    <b>Teaching Course</b>, <a href="https://casi-acms.com/index.php/en/">CASI (Canadian Association of Snowboard Instructors)</a> -
                    <em>Level 1.</em>
                    <span class="word-right col-xl-11 col-lg-6 col-md-3 col-sm-2 col-2">2019</span><br>
                </div>
                <hr class="dots">

                <!-- Udemy -->
                <div class="watermark udemy">
                    <b>Programming Course</b>, Udemy, 100 Days of Code: The Complete Python Pro Bootcamp for 2023 -
                    <em><a href="https://www.udemy.com/certificate/UC-5b8b1ff8-a709-4902-9bfd-ad6e1cd0140b/">Click for Certificate</a>.</em>
                    <span class="word-right col-xl-3 col-lg-2 col-md-3 col-sm-2 col-2">2022</span><br><br>
                </div>
            </div>
            <hr>
            
            <h2 class="text-preview"><a href="{{ url_for('static', filename='pdf/CV-BarnabyClarke.pdf') }}">Download my CV</a></h2>
        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}
