{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ url_for('static', filename='images/snowboard.jpeg')}})" title="Val d'Isère, France - 2020">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>My CV</h1>
                    <span class="subheading">A bit about me.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>
                Profile
            </h2>
            <div class="cv-profile text-preview">
                Recent graduate, currently working as a graduate exposure management analyst on an internship with Cathedral
                Insurance, the Lloyds syndicate within Lancashire Insurance, London. Seeking position encompassing Actuarial
                Science, Data Analytics, and Risk Analysis across the insurance industry. Strong mathematical, analysis,
                problem-solving, communication, coordination, and networking skills supported by a positive and outgoing
                attitude. History of striving to learn more about financial and insurance industries to strengthen actuary
                knowledge. <b>Areas of Knowledge & Interests include</b>:
                
            </div>
            <hr>
            
            <h4>
                Education
            </h4>
            <div class="text-preview">
                <b>Bachelor of Science (Hons) in Physics with Astrophysics</b> | University of Exeter, Devon, UK, 2018 -
                <em>
                    <b>Class</b>: 2:1
                </em><br>
                <hr class="dots">
                <b>A-levels</b> | Sutton Valence School, Kent, UK, 2015<br>
                <em>
                    <b>A2 level</b>:  Maths A, Physics B, Geography B; <br><b>AS level</b>:  Business Studies B
                </em><br>
                <hr class="dots">
                <b>Coding Proficiencies</b>:  Python, SQL, HTML, C, LaTeX, Octave
            </div>
            <hr>
            
            <h4>
                Experience Highlights
            </h4>
            <div class="text-preview">
                <!-- Lancs -->
                <b>Internship</b>, <a href="https://www.lancashiregroup.com/">Lancashire Insurance & Cathedral Insurance</a>, London, UK
                <span class="word-right col-lg-12 col-md-6">June 2019 - June 2022</span><br>
                <em>
                    Currently spending 2 months as a paid intern in the Modelling Department as a Graduate Exposure Management Analyst.
                </em><br>
                <hr class="dots">
                <!-- AXA -->
                <b>Student Internship</b>, <a href="https://www.axa-im.co.uk/">AXA, Rosenberg Investment Management</a>, London, UK,
                <span class="word-right col-lg-12 col-md-6">Summer 2017</span><br>
                <em>
                    Shadowed Investment Team as they educated clients on financial problem-solving, statistical process
                    control, data analytics, financial calculations, reporting, price forwards curves (PFC),
                    and regulatory compliance. Collaborated with data scientists and developers to learn about
                    systematic equity trading platforms and trading systems based on machine learning, chart patterns,
                    risks management, and portfolio management.
                </em><br>
                <hr class="dots">
                <!-- Lancs (summer role) -->
                <b>Student Internship</b>, <a href="https://www.lancashiregroup.com/">Lancashire Insurance & Cathedral Insurance</a>, London, UK,
                <span class="word-right col-lg-11 col-md-6">Summer 2016</span><br>
                <em>
                    Studied insurance industry under guidance of Group Actuary and Chief Underwriter Cathedral. Attended
                    training sessions in each department and specialist underwriting classes in aviation and terrorism.
                    Observed Brokers as they interacted with clients at Lloyd’s booths. Gained interest in the actuary role.
                </em><br>
                <hr class="dots">
                <!-- Aquis -->
                <b>Student Internship</b>, <a href="https://www.aquis.eu/">Aquis Share Trading</a>, London, UK,
                <span class="word-right col-lg-12 col-md-12">Summer 2015</span><br>
                <em>
                    Gained knowledge on start-up technology companies and their role as important intermediaries in
                    financial markets. Grew understanding of how small, growing businesses are managed. Mentored by
                    Chief Algorithm Writer and expanded Operations Department knowledge.
                </em><br>
            </div>
            <hr>
            
            <h4>
                Professional Involvement
            </h4>
            <div class="text-preview">
                <!-- Snowboarding Instructor Course -->
                <b>Teaching Course</b>, <a href="https://casi-acms.com/index.php/en/">CASI (Canadian Association of Snowboard Instructors)</a> -
                <em>Level 1.</em> <span class="word-right col-lg-12 col-md-6">Winter 2019</span><br>
                <br><br>
            </div>
        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}
