{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ url_for('static', filename='images/snowboard.jpeg')}})" title="Val d'Isère, France - 2020">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>My CV</h1>
                    <span class="subheading">A bit about me.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>
                Profile
            </h2>
            <div class="cv-profile text-preview">
                Recent graduate, currently working as a graduate exposure management analyst on an internship with Cathedral
                Insurance, the Lloyds syndicate within Lancashire Insurance, London. Seeking position encompassing Actuarial
                Science, Data Analytics, and Risk Analysis across the insurance industry. Strong mathematical, analysis,
                problem-solving, communication, coordination, and networking skills supported by a positive and outgoing
                attitude. History of striving to learn more about financial and insurance industries to strengthen actuary
                knowledge. Areas of Knowledge & Interests include:
            </div>
            <hr>
            
            <h4>
                Education
            </h4>
            <div class="text-preview">
                <b>Bachelor of Science (Hons) in Physics with Astrophysics</b> | University of Exeter, Devon, UK, 2018 - <em>Class: 2:1</em><br><br>
                <b>A-levels</b> | Sutton Valence School, Kent, UK, 2015<br>
                <em>A2 level:  Maths A, Physics B, Geography B; <br>AS level:  Business Studies B</em><br><br>
                <b>Coding Proficiencies</b>:  Python, SQL, C, LaTeX, Octave
            </div>
            <hr>
            
            <h4>
                Experience Highlights
            </h4>
            <div class="text-preview">
                <b>Internship</b>, Lancashire Insurance & Cathedral Insurance, London, UK<span class="word-right col-lg-12 col-md-6">June 2019 - June 2022</span><br>
                <em>Currently spending 2 months as a paid intern in the Modelling Department as a Graduate Exposure Management Analyst.</em><br><br>
                
                <b>Student Internship</b>, AXA, Rosenberg Investment Management, London, UK, <span class="word-right col-lg-12 col-md-6">Summer 2017</span><br>
                <em>
                    Shadowed Investment Team as they educated clients on financial problem-solving, statistical process
                    control, data analytics, financial calculations, reporting, price forwards curves (PFC),
                    and regulatory compliance. Collaborated with data scientists and developers to learn about
                    systematic equity trading platforms and trading systems based on machine learning, chart patterns,
                    risks management, and portfolio management.
                </em><br><br>

            </div>
        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}
