{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ url_for('static', filename='images/Svolvaer.jpeg')}})" title="Svolvaer, Norway - 2018">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>I'm Barney</h1>
                    <span class="subheading">Welcome to my website.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>
                About me
            </h1>
            <img class="pic circle" src="static/images/face.png" alt="Barnaby Clarke Profile Pic">
            <div class="wrap-text">
                <b>Name</b>: <em>Barnaby Clarke</em><br>
                <b>Age</b>: <em><script>document.write(Math.floor(Math.abs(new Date()-new Date('1996/10/30'))/(1000*60*60*24*365)))</script></em><br>
                <b>Location</b>: <em>London, UK</em><br>
                <b>Description</b>: <em>British, Male</em>
            </div>
        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}
