{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url({{ url_for('static', filename='images/Svolvaer.jpeg')}})" title="Svolvaer, Norway - 2018">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>I'm Barney</h1>
                    <span class="subheading">Welcome to my website.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>
                About me
            </h1><br>
            <img class="pic circle" src="static/images/my_face.png" alt="Barnaby Clarke Profile Pic">
            <div class="about-me">
                <b>Name</b>: <em>Barnaby Clarke</em><br>
                <b>Age</b>: <em><script>document.write(Math.floor(Math.abs(new Date()-new Date('1996/10/30'))/(1000*60*60*24*365)))</script></em><br>
                <b>Location</b>: <em>London, UK</em><br>
                <b>Description</b>: <em>British, Male</em>
            </div><br>
            <hr class="dots">

            <div class="text-preview">
                <b>Career Focus</b>: <em>moving away from Insurance and Actuarial work towards a more coding, back-end developer role.</em><br>
                <b>Current Work</b>: <em>learning SQL on Udemy and doing independent solo projects with Python.</em><br>
                <b>Hobbies</b>: <em>occasionally making small Python games with Turtle Graphics GUI, snowboarding, chess, travelling,
                reading, and gaming.
                </em>
            </div>
            <br>
        </div>
    </div>
</div>
<hr>

{% include "footer.html" %}
